// ===============================
//  Import Fonts
// ===============================
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ===============================
//  Variables
// ===============================
:root {
  // Colors
  --primary-color-main: #3b82f6;
  --primary-color-light: #93c5fd;
  --primary-color-dark: #172554;
  --secondary-color-main: #6b7280;
  --secondary-color-light: #d1d5db;
  --secondary-color-dark: #030712;
  --white-color: #fff;
  --black-color: #000;

  // Typography
  --text-xxs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.2rem;
  --text-h4: 2.4rem;
  --text-h3: 3.2rem;
  --text-h2: 4.8rem;
  --text-h1: 6.4rem;

  // Letter Spacing & Line Heights
  --ls-large: -2px;
  --ls-short: -1px;
  --lh-lg: 1.6;
  --lh-md: 1.4;
  --lh-sm: 1.2;
  --lh-xxl: 2;

  // Font Weights
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  // Others
  --primary-font-family: "Poppins", sans-serif;
  --rounded-main: 12px;
}

// ===============================
//  Mixins
// ===============================

@mixin flex-box($direction: row, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin transition($time: 0.3s, $type: ease) {
  transition: all $time $type;
}

// ===============================
//  Reset and Base Styles
// ===============================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font-family);
}
a {
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
}
h1,
h2 {
  font-weight: var(--font-bold);
  letter-spacing: var(--ls-large);
}
h3,
h4 {
  font-weight: var(--font-semibold);
  letter-spacing: var(--ls-short);
}
p {
  line-height: var(--lh-lg);
  font-weight: var(--font-normal);
}

// ===============================
//  Buttons
// ===============================

.btn {
  padding: 1.2rem 2.5rem;
  border: none;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  border-radius: var(--rounded-main);
  @include transition();
  &-primary {
    color: var(--white-color) !important;
    background-color: var(--primary-color-main);
    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
  &-secondary {
    color: var(--white-color) !important;
    background-color: var(--secondary-color-main);
    &:hover {
      background-color: var(--secondary-color-dark);
    }
  }
}
.text {
  &-h1 {
    font-size: var(--text-h1);
    line-height: var(--lh-sm);
  }
  &-h2 {
    font-size: var(--text-h2);
    line-height: var(--lh-md);
  }
  &-h3 {
    font-size: var(--text-h3);
    line-height: var(--lh-md);
  }
  &-h4 {
    font-size: var(--text-h4);
    line-height: var(--lh-md);
  }
  &-xl {
    font-size: var(--text-xl);
    font-weight: var(--font-medium);
    line-height: var(--lh-md);
  }
  &-base {
    font-size: var(--text-base);
  }
  &-sm {
    font-size: var(--text-sm);
  }
  &-xs {
    font-size: var(--text-xs);
  }
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
  &-full {
    width: 100%;
    padding: 0 15px;
  }
  &-lg {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.bg {
  &-black {
    background-color: var(--black-color);
    color: var(--white-color);
  }
  &-gray {
    background-color: rgb(36, 35, 35);
    color: var(--white-color);
  }
  &-light-gray {
    background-color: aliceblue;
    color: var(--black-color);
  }
}

/* ----------------------------- Navbar --------------------------------*/

.navbar {
  @include flex-box(row, space-between, center);
  height: 70px;
  position: relative;

  .menu-main {
    list-style-type: none;
    @include flex-box(row, flex-start, center);
    gap: 25px;
    li:last-child a {
      margin-left: 10px;
    }
    li a {
      color: var(--black-color);
      font-weight: var(--font-md);
      @include transition();
      &:hover {
        color: var(--primary-color-main);
      }
    }
  }
  .mobile-menu-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--white-color);
    @include transition(0.3s, linear);
    .cross i {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 26px;
      cursor: pointer;
      z-index: 1111;
    }
    .mobile-menu {
      list-style-type: none;
      @include flex-box(column, flex-start);
      margin: 5rem 0;
      padding: 0 1.5rem;
      gap: 25px;
      li a {
        color: var(--black-color);
        font-weight: var(--font-medium);
        font-size: var(--text-lg);
        @include transition();

        &:hover {
          color: var(--primary-color-main);
        }
      }
      .btn {
        width: 100%;
        text-align: center;
      }
    }
  }
  .hamburger {
    display: none;
    i {
      font-size: 26px;
      cursor: pointer;
    }
  }
}

/* ----------------------------- Hero Section --------------------------------*/

.hero-section {
  margin: 4rem 0 3rem;
  background-image: url("/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 590px;
  .hero-content {
    width: 75%;
  }
  .hero-text {
    width: 66%;
    margin: 2rem 0;
  }
  .hero-buttons {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
  }
}

/* ---------------------------- Video Section --------------------- */

.video-section {
  padding: 6rem 0 5rem;
  @include flex-box(column, center, center);
  min-height: 100vh;
  height: auto;
  .video-title {
    margin-bottom: 2rem;
    color: var(--white-color);
    width: 70%;
    text-align: center;
  }
  .video-image {
    max-width: 700px;
    width: 100%;
  }
  .video-sec-btn {
    margin-top: 3.5rem;
  }
}

/* ---------------------------- Testimonial Section --------------------- */

.testimonial-section {
  padding: 6rem 0 5rem;
  @include flex-box(column, flex-start, flex-start);
  display: flex;
  .testimonial-title {
    margin-bottom: 2rem;
    color: var(--white-color);
    width: 50%;
    text-align: left;
  }
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    color: var(--black-color);
    .card {
      background-color: var(--white-color);
      color: var(--black-color);
      border-radius: 12px;
      padding: 2rem;
    }
    .card p:nth-child(2) {
      font-weight: var(--font-bold);
      margin: 1.5rem 0 0;
    }
  }
}

/* ---------------------------- Pricing Section --------------------- */

.pricing-section {
  @include flex-box(column, center, center);
  padding: 2rem 0;
  min-height: 100vh;
  .pricing-title {
    text-align: center;
    margin: 1.5rem 0;
  }
  .pricing-text {
    text-align: center;
  }
  .pricing-cards {
    @include flex-box(row, center, center);
    gap: 1rem;
    margin: 2rem 0;
  }
  .pricing-card {
    padding: 3rem;
    border-radius: 12px;
    background-color: var(--white-color);
    @include flex-box(column);
    gap: 1rem;
    &.pro {
      background-color: var(--black-color);
      color: var(--white-color);
    }
    ul {
      list-style: none;
      @include flex-box(column, flex-start, flex-start);
      gap: 0.5rem;
    }
    .price {
      margin: 1rem 0;
    }
    .subscribe-btn {
      margin-top: 1rem;
      text-align: center;
    }
  }
}

/* ---------------------------- FAQ Section --------------------- */

.faq-section {
  max-width: 800px;
  @include flex-box(column, center, center);
  margin: 0 auto;
  min-height: 100vh;
  padding: 5rem 3rem;
  .faq-title {
    text-align: center;
  }
  .navigate-sec {
    max-width: 350px;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(201, 201, 201);
    margin: 3rem auto;
    border-radius: 25px;
    button {
      border: none;
      display: inline-block;
      padding: 1rem 2.5rem;
      border-radius: 25px;
      background-color: transparent;
      font-size: var(--text-sm);
      font-weight: var(--font-medium);
      cursor: pointer;
      @include transition();
      &.active {
        background-color: var(--primary-color-main);
        color: var(--white-color);
      }
    }
  }
  .faq-content-section {
    margin: 2rem 0;
    .faq-content {
      border-bottom: 1px solid rgb(180, 176, 176);
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      overflow: hidden;
      @include transition();
    }
    .faq-content-header {
      width: 100%;
      position: relative;
      padding-right: 2rem;
      font-weight: var(--font-semibold);
    }
    .faq-content-header i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .faq-content-body {
      max-height: 0;
      overflow: hidden;
      @include transition();
      &.open {
        max-height: 200px;
      }
    }
  }
}

/* ---------------------------- Footer --------------------- */
.footer-parent {
  padding: 4rem 0;
  @include flex-box(column);
  gap: 2rem;
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  h4 {
    margin-bottom: 1rem;
  }
  ul li {
    line-height: 2;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
  }
  .footer-grid .card {
    margin-right: 3rem;
  }
  input[type="email"] {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    font-size: var(--text-base);
    border: 1px solid var(--secondary-color-main);
  }
  form {
    margin: 1rem 0 0;
    display: flex;
    gap: 0.7rem;
  }
  .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .social-icons i {
    cursor: pointer;
  }
}
