@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color-main: #3b82f6;
  --primary-color-light: #93c5fd;
  --primary-color-dark: #172554;
  --secondary-color-main: #6b7280;
  --secondary-color-light: #d1d5db;
  --secondary-color-dark: #030712;
  --white-color: #fff;
  --black-color: #000;
  --text-xxs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.2rem;
  --text-h4: 2.4rem;
  --text-h3: 3.2rem;
  --text-h2: 4.8rem;
  --text-h1: 6.4rem;
  --ls-large: -2px;
  --ls-short: -1px;
  --lh-lg: 1.6;
  --lh-md: 1.4;
  --lh-sm: 1.2;
  --lh-xxl: 2;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --primary-font-family: "Poppins", sans-serif;
  --rounded-main: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font-family);
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
}

h1,
h2 {
  font-weight: var(--font-bold);
  letter-spacing: var(--ls-large);
}

h3,
h4 {
  font-weight: var(--font-semibold);
  letter-spacing: var(--ls-short);
}

p {
  line-height: var(--lh-lg);
  font-weight: var(--font-normal);
}

.btn {
  padding: 1.2rem 2.5rem;
  border: none;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  border-radius: var(--rounded-main);
  transition: all 0.3s ease;
}
.btn-primary {
  color: var(--white-color) !important;
  background-color: var(--primary-color-main);
}
.btn-primary:hover {
  background-color: var(--primary-color-dark);
}
.btn-secondary {
  color: var(--white-color) !important;
  background-color: var(--secondary-color-main);
}
.btn-secondary:hover {
  background-color: var(--secondary-color-dark);
}

.text-h1 {
  font-size: var(--text-h1);
  line-height: var(--lh-sm);
}
.text-h2 {
  font-size: var(--text-h2);
  line-height: var(--lh-md);
}
.text-h3 {
  font-size: var(--text-h3);
  line-height: var(--lh-md);
}
.text-h4 {
  font-size: var(--text-h4);
  line-height: var(--lh-md);
}
.text-xl {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  line-height: var(--lh-md);
}
.text-base {
  font-size: var(--text-base);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-xs {
  font-size: var(--text-xs);
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-full {
  width: 100%;
  padding: 0 15px;
}
.container-lg {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-black {
  background-color: var(--black-color);
  color: var(--white-color);
}
.bg-gray {
  background-color: rgb(36, 35, 35);
  color: var(--white-color);
}
.bg-light-gray {
  background-color: aliceblue;
  color: var(--black-color);
}
.card {
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 12px;
  padding: 2rem;
}
/* ----------------------------- Navbar --------------------------------*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
.navbar .menu-main {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.navbar .menu-main li:last-child a {
  margin-left: 10px;
}
.navbar .menu-main li a {
  color: var(--black-color);
  font-weight: var(--font-md);
  transition: all 0.3s ease;
}
.navbar .menu-main li a:hover {
  color: var(--primary-color-main);
}
.navbar .mobile-menu-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--white-color);
  transition: all 0.3s linear;
}
.navbar .mobile-menu-wrapper .cross i {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 26px;
  cursor: pointer;
  z-index: 1111;
}
.navbar .mobile-menu-wrapper .mobile-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5rem 0;
  padding: 0 1.5rem;
  gap: 25px;
}
.navbar .mobile-menu-wrapper .mobile-menu li a {
  color: var(--black-color);
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  transition: all 0.3s ease;
}
.navbar .mobile-menu-wrapper .mobile-menu li a:hover {
  color: var(--primary-color-main);
}
.navbar .mobile-menu-wrapper .mobile-menu .btn {
  width: 100%;
  text-align: center;
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger i {
  font-size: 26px;
  cursor: pointer;
}

/* ----------------------------- Hero Section --------------------------------*/
.hero-section {
  margin: 4rem 0 3rem;
  background-image: url("/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 590px;
}
.hero-section .hero-content {
  width: 75%;
}
.hero-section .hero-text {
  width: 66%;
  margin: 2rem 0;
}
.hero-section .hero-buttons {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

/* ---------------------------- Video Section --------------------- */
.video-section {
  padding: 6rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}
.video-section .video-title {
  margin-bottom: 2rem;
  color: var(--white-color);
  width: 70%;
  text-align: center;
}
.video-section .video-image {
  max-width: 700px;
  width: 100%;
}
.video-section .video-sec-btn {
  margin-top: 3.5rem;
}

/* ---------------------------- Testimonial Section --------------------- */
.testimonial-section {
  padding: 6rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.testimonial-section .testimonial-title {
  margin-bottom: 2rem;
  color: var(--white-color);
  width: 50%;
  text-align: left;
}
.testimonial-section .testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  color: var(--black-color);
} 
.testimonial-section .testimonial-grid .card p:nth-child(2) {
  font-weight: var(--font-bold);
  margin: 1.5rem 0 0;
}

/* ---------------------------- Pricing Section --------------------- */
.pricing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  min-height: 100vh;
}
.pricing-section .pricing-title {
  text-align: center;
  margin: 1.5rem 0;
}
.pricing-section .pricing-text {
  text-align: center;
}
.pricing-section .pricing-cards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 2rem 0;
}
.pricing-section .pricing-card {
  padding: 3rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  gap: 1rem;
}
.pricing-section .pricing-card.pro {
  background-color: var(--black-color);
  color: var(--white-color);
}
.pricing-section .pricing-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.pricing-section .pricing-card .price {
  margin: 1rem 0;
}
.pricing-section .pricing-card .subscribe-btn {
  margin-top: 1rem;
  text-align: center;
}

/* ---------------------------- FAQ Section --------------------- */
.faq-section {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 5rem 3rem;
}
.faq-section .faq-title {
  text-align: center;
}
.faq-section .navigate-sec {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(201, 201, 201);
  margin: 3rem auto;
  border-radius: 25px;
}
.faq-section .navigate-sec button {
  border: none;
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  background-color: transparent;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: all 0.3s ease;
}
.faq-section .navigate-sec button.active {
  background-color: var(--primary-color-main);
  color: var(--white-color);
}
.faq-section .faq-content-section {
  margin: 2rem 0;
}
.faq-section .faq-content-section .faq-content {
  border-bottom: 1px solid rgb(180, 176, 176);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq-section .faq-content-section .faq-content-header {
  width: 100%;
  position: relative;
  padding-right: 2rem;
  font-weight: var(--font-semibold);
}
.faq-section .faq-content-section .faq-content-header i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.faq-section .faq-content-section .faq-content-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq-section .faq-content-section .faq-content-body.open {
  max-height: 200px;
}

/* ---------------------------- Footer --------------------- */
.footer-parent {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-parent .footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 2rem;
}
.footer-parent h4 {
  margin-bottom: 1rem;
}
.footer-parent ul li {
  line-height: 2;
  cursor: pointer;
}
.footer-parent ul {
  list-style-type: none;
}
.footer-parent .footer-grid .card {
  margin-right: 3rem;
}
.footer-parent input[type=email] {
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  font-size: var(--text-base);
  border: 1px solid var(--secondary-color-main);
}
.footer-parent form {
  margin: 1rem 0 0;
  display: flex;
  gap: 0.7rem;
}
.footer-parent .social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-parent .social-icons i {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */